.App {
  padding-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  background-color: rgb(216, 244, 244);
  height: 100vh;
}

.vote-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 120px;
  width: 44%;
  border: 1px solid rgb(76, 122, 137);
  margin-bottom: 20px;
  border-radius: 10px;
}
h1{
  font-size: 42px;
  color: chocolate;
}

button {
  background-color: chocolate;
  color: white;
  border: none;
  padding: 10px 25px;
  width: 200px ;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}
#btn01{background-color: rgb(139, 24, 118); }
#btn02{background-color: rgb(35, 65, 123);}
#btn03{  background-color: darkslategray;}
.name01 {
  font-size: 18px;
  color: rgb(139, 24, 118);
  font-weight: 700;
}

.name02 {
  color: rgb(35, 65, 123);
  font-size: 18px;
  font-weight: 700;
}

.name03 {
  color: darkslategray;
  font-size: 18px;
  font-weight: 700;
}

p {
  height: 40px;
  width: max-content;
  border: 1px solid;
  padding: 10px 10px 0 10px;
  border-radius: 6px;
}
@media (max-width: 780px) {
  .vote-container {
    flex-direction: column;
    height: max-content;
    width: 90%;
    gap: 20px;
    padding: 14px 0;
  }
  h1{
    font-size: 32px;
  }
  button{
      width: 220px ;
  }
}